<h1>Brands</h1>

<h1>Welcome to E Spares</h1>
<div class="row newsr" >
<h2>NY Times Top Stories</h2>
<div class="news">
<%@response["results"].each do |story|%>
Section: <%= story["section"]%>
Title: <a href="<%= story["url"]%>"><%= story["title"]%></a>
by: <%= story["byline"]%>

<% story["multimedia"].each do |multi|%>
<img src="<%= multi["url"]%>" alt="">
<p><%= multi["caption"]%></p>
<% end %>

<% end %>
</div>
</div>

<%= image_tag "spaee.jpeg" %>

<div  class="brands" id="added_brands">
  <ul>
    <% @brands.each do |brand| %>
    <li><%= link_to brand.title, brand_path(brand) %></li>
    <% end %>
  </ul>
</div>

  <hr>
  <h2>Just Added</h2>
   <div class="brands" id="added_brands">

   </div>
   <hr>
  <div class="new_brand">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
       <%= link_to "New Brand", new_brand_path, id: "new_link", remote: true %>
    <% end %>
  <% end %>
  </div>
