<h1><%= @brand.title %></h1>
<h3><%= @brand.link %></h3>
Of category:
<br>

<%= link_to @category.name, category_path(@category) %>


<%= image_tag @brand.avatar_url.to_s, class: 'project_image'%>

<% if @brand.products.any? %>
    <h4>Here are the products for this Brand:</h4>

    <ul>
      <% @brand.products.each do |product| %>
        <li>
          <%= product.item %>
          <% if user_signed_in? %>
          <%= link_to "show", brand_product_path(@brand, product) %>

          <% if current_user.id == product.user_id %>|
          <%= link_to "Edit", edit_brand_product_path(@brand, product) %> |
          <%= link_to "Delete", brand_product_path(@brand, product),
                                   :data => {:confirm => "Are you sure?",
                                                  :method => "delete"} %>
                                                  <%end%>
                                                  <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no products yet!</p>
  <% end %>
  <% if user_signed_in? %>
  <p><%= link_to "Add a product", new_brand_product_path(@brand) %></p>

  <% if current_user.admin? %>

 <p><%= link_to "Delete", brand_path(@brand),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"} %></p>

<%end%>
<%end%>
  <p><%= link_to "Return to brands", brands_path %></p>
