<%= render "layouts/errors", :object => @category %>

  <%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <br>
    Select Companies:



    <div class="field">
    <%= f.label :brands %>
    <%= collection_check_boxes(:category, :brand_ids, @brands, :id, :title) %>
</div>


    <%= f.submit %>
  <% end %>
