

<h1>Welcome to eGo Search</h1>
<%= image_tag "e_go.jpeg" %>
<h1>World Industries</h1>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
  <hr>

  <%= link_to "New Industry", new_category_path %>
  
  <div class="row newsr" >
  <h2>Trending in the World:</h2>
  <div class="news">
  <%@response["results"].each do |story|%>
  Section: <%= story["section"]%><br>
  Title: <a href="<%= story["url"]%>"><%= story["title"]%></a>


  <br><%= story["byline"]%><br>
  <% story["multimedia"].each do |multi|%>
  <% if multi["format"] == "Normal"%>
  <img src="<%= multi["url"]%>" alt="">
  <% end %>
  <% end %>
    <hr>

  <% end %>

  </div>
  </div>
