<h1><%= @category.name %></h1>
Related Companies:
<br>


<p><%@category.brands.each do |brand|%>
<%= link_to @brand.title, brand_path(@brand) %>
<%= brand.title%>
<%end%>
</p>



<hr>
<p><%= link_to "Edit", edit_category_path(@category) %></p>
 <p><%= link_to "Delete", category_path(@category),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"} %></p>

  <p><%= link_to "Return to industries", categories_path %></p>
