<h1><%= @category.name %></h1>

<h4 class='text-success'>
        Related Companies:<br>
        <%= raw(@category.brands.map{ |b| raw(link_to(b.title, brand_path(b))) }.join(', ') + ".") %>
<br>




<hr>
<p><%= link_to "Edit", edit_category_path(@category) %></p>
 <p><%= link_to "Delete", category_path(@category),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"} %></p>

  <p><%= link_to "Return to industries", categories_path %></p>
